
// .vu-project-col.page-banner-wrapper {
//     background-image: url(https://hips.hearstapps.com/hmg-prod/images/large-group-of-happy-friends-in-mountains-area-royalty-free-image-1653422631.jpg);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }


.vu-project-layout .vu-project-layout-content{
    padding-block: 0px;
    padding-inline: 0px;
}

.page-banner-wrapper {
    background-image: url(https://www.tripees.com/public/images/search-result-listing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;

    .page-banner-content{
        width: 90%;
        height: auto;
        margin: 150px 0px 50px 50px;
        padding: 20px;
        background: rgba(34, 51, 68, 0.1882352941);
      
        h1{
            color: #fff;
        }
    
        p{
            color: #fff;
            font-size: 22px;
            line-height: 30px;
        }

    }
    
}


.trips-grid-filters{
    background-color: #0c6856;
    padding: 15px;
    margin: 50px;
}